.catalogue{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    margin: 0;
    padding: 10;
    list-style: none;
}

.cadre{
    height: fit-content;
    width:200px;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    background-color: blue;
    border-radius: 10px;
    flex-wrap: wrap;
}